/* --------------- Common --------------- */
* {
    font-family: 'Roboto', sans-serif;
    border-radius: 0px !important;
}
body {
    background-color: #f3f3f3;
}
.text-underline {
    text-decoration: underline;
}
.cursor-pointer {
    cursor: pointer;
}
.opacity-2 {
    opacity: 0.2;
}
.display-none {
    display: none;
}
/* --------------- / Common --------------- */


/* --------------- Bootstrap Overrides --------------- */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 400;
}
label {
    font-weight: 500;
}
hr {
    border-color: #e6e6e6;
}
strong {
    font-weight: 500;
}
.list-group-item-text {
    color: #777;
}
.form-group .btn-group {
    display: block;
    clear: both;
}
.line-height-12 {
    line-height: 12px;
}
/* --------------- / Bootstrap Overrides --------------- */

/* --------------- Margins and Paddings --------------- */
.mt20 { margin-top: 20px; }
.mb0 { margin-bottom: 0px; }
.ma0 { margin: 0px; }

.pa0 { padding: 0px; }
.pb0 { padding-bottom: 0px; }
.pb20 { padding-bottom: 20px; }
/* --------------- / Margins and Paddings --------------- */

/* --------------- Header --------------- */
.navbar-default {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 1px 5px #ddd;
}
.navbar-default .menu {
    display: inline-block;
    margin: 13px 10px 0px 10px;
}
.navbar-default .menu-icon {
    font-size: 27px;
    float: left;
    color: #999;
}
.navbar-default .menu-text {
    float: left;
    padding: 5px;
    color: #999;
}
.navbar-default .dropdown-menu {
    right: 0px;
    left: auto;
}
.navbar-default #login-dropdown-list {
    margin: 18px;
    list-style: none;
}
.navbar-default #login-dropdown-list .btn:hover {
    color: #fff;
}
/* --------------- / Header --------------- */

/* --------------- Layout --------------- */
.layout-content {

}
.game-panel {
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
}
.button-game {
    display: block;
    cursor: pointer;
}
.btn-rps {
    background-color: #FFD08E;
    border-color: #F2BB6F;
}
#game-overlay, #game-overlay-opaque, .overlay {
    z-index: 99999;
    background-color: #fff;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    text-align: center;
    color: #333;
    font-size: 4em;
    text-shadow: 0 0 10px #ffd08e;
}
#game-overlay {
    padding-top: 15%;
}
#game-overlay-opaque {
    padding-top: 10%;
}
#game-info {
    padding-top: 3%;
}
#game-info .links a, #game-info .links span {
    font-size: 12px;
    color: #333;
}
.create-game {
    right: 30px;
    position: fixed;
    top: auto;
    background-color: #fff;
    border-collapse: collapse;
    border-radius: 50px ! important;
    bottom: 30px;
    box-shadow: 0px 0px 5px #aaa;
    text-decoration: none;
    font-size: 1.5em;
    padding: 15px;
    cursor: pointer;
}
.create-game:hover {
    text-decoration: none;
}
.list-group-item.gray {
    background-color: #f9f9f9;
}
.list-group-games {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 400px;
}

.shadow {
    display:block;
    position:relative;
}

.shadow img {
    display:block;
}

.shadow::before {
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px 0px 5px 10px #fff;
    -webkit-box-shadow:inset 0px 0px 5px 10px #fff;
    box-shadow:inset 0px 0px 5px 10px #fff;
}
.icon-green { color: #0FDD84; }
.icon-gray { color: #999999; }
.icon-red { color: #F22424; }
.icon-small { font-size: 0.8em; }
/* --------------- / Layout --------------- */

/* --------------- Animations --------------- */
.transition { transition:all 0.2s ease; }
.transition-grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 99999;
}

.vibrate {
    color: #da3136 !important;
    /*
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    */
    -webkit-animation-name: linkQuake;
    -moz-animation-name: linkQuake;
    animation-name: linkQuake;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
    transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes linkQuake {
    0%   {
        transform: translate(2px, 1px)   rotate(0deg);
    }
    10%  {
        transform: translate(-1px, -2px) rotate(-2deg);
    }
    20%  {
        transform: translate(-3px, 0px)  rotate(1deg);
    }
    30%  {
        transform: translate(0px, 2px)   rotate(0deg);
    }
    40%  {
        transform: translate(1px, -1px)  rotate(2deg);
    }
    50%  {
        transform: translate(-1px, 1px)  rotate(-2deg);
    }
    60%  {
        transform: translate(-3px, -2px)  rotate(0deg);
    }
    70%  {
        transform: translate(2px, 1px)   rotate(-2deg);
    }
    80%  {
        transform: translate(-1px, -2px) rotate(2deg);
    }
    90%  {
        transform: translate(2px, -1px)   rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px)  rotate(-1deg);
    }
}

@-moz-keyframes linkQuake { /* Firefox */
    0%   {
        -moz-transform: translate(2px, 1px)   rotate(0deg);
    }
    10%  {
        -moz-transform: translate(-1px, -2px) rotate(-2deg);
    }
    20%  {
        -moz-transform: translate(-3px, 0px)  rotate(2deg);
    }
    30%  {
        -moz-transform: translate(0px, 2px)   rotate(0deg);
    }
    40%  {
        -moz-transform: translate(1px, -1px)  rotate(2deg);
    }
    50%  {
        -moz-transform: translate(-1px, 1px)  rotate(-2deg);
    }
    60%  {
        -moz-transform: translate(-3px, -2px)  rotate(0deg);
    }
    70%  {
        -moz-transform: translate(2px, 1px)   rotate(-2deg);
    }
    80%  {
        -moz-transform: translate(-1px, -2px) rotate(1deg);
    }
    90%  {
        -moz-transform: translate(2px, -1px)   rotate(0deg);
    }
    100% {
        -moz-transform: translate(1px, -2px)  rotate(-1deg);
    }
}

@-webkit-keyframes linkQuake { /* Safari and Chrome */
    0%   {
        -webkit-transform: translate(2px, 1px)   rotate(0deg);
    }
    10%  {
        -webkit-transform: translate(-1px, -2px) rotate(-2deg);
    }
    20%  {
        -webkit-transform: translate(-3px, 0px)  rotate(2deg);
    }
    30%  {
        -webkit-transform: translate(0px, 2px)   rotate(0deg);
    }
    40%  {
        -webkit-transform: translate(1px, -1px)  rotate(2deg);
    }
    50%  {
        -webkit-transform: translate(-1px, 1px)  rotate(-2deg);
    }
    60%  {
        -webkit-transform: translate(-3px, -2px)  rotate(0deg);
    }
    70%  {
        -webkit-transform: translate(2px, 1px)   rotate(-2deg);
    }
    80%  {
        -webkit-transform: translate(-1px, -2px) rotate(2deg);
    }
    90%  {
        -webkit-transform: translate(2px, -1px)   rotate(0deg);
    }
    100% {
        -webkit-transform: translate(1px, -2px)  rotate(-2deg);
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
    }
    80% {
        -webkit-transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(30px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}
.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
    }
    80% {
        -webkit-transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(-30px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}
.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}
/* --------------- / Animations --------------- */