<template name="gamesPlay">

    <div class="col col-sm-12 text-center">
        <h3 class="text-center">{{ game.title }}</h3>

        <p class="mb0">Best of {{ game.bestOf }}</p>

        <hr/>

        <div class="clearfix">
            <div class="col col-xs-5 text-right">
                {{ game.playerOne.name }}
            </div>
            <div class="col col-xs-2 text-center">
                vs.
            </div>
            <div class="col col-xs-5 text-left">
                {{ game.playerTwo.name }}
            </div>
        </div>
        <div class="clearfix">
            <div class="col col-xs-5 text-right">
                {{ game.playerOne.score }} {{ playerOnePointText }}
            </div>
            <div class="col col-xs-2 text-center"></div>
            <div class="col col-xs-5 text-left">
                {{ game.playerTwo.score }} {{ playerTwoPointText }}
            </div>
        </div>

        <hr/>
    </div>

    {{#if game.isCompleted }}

        <div class="col col-sm-12 text-center">
            {{#if game.isCompleted }}
                <p><span class="glyphicon glyphicon-star"></span> {{{ winnerName }}} <span class="glyphicon glyphicon-star"></span></p>
            {{/ if }}
            <p>Game finished.</p>
        </div>

    {{ else }}

        {{#if notEqualTo game.playerTwo.id "0" }}

            <div class="col col-sm-12">
                <div class="col col-sm-4 text-center">
                    <a href="javascript:void(0);" class="button-game" selection="rock" title="Rock">
                        <img src="/images/button-rock.png" />
                    </a>

                    <p>ROCK</p>
                </div>

                <div class="col col-sm-4 text-center">
                    <a href="javascript:void(0);" class="button-game" selection="paper" title="Paper">
                        <img src="/images/button-paper.png" />
                    </a>

                    <p>PAPER</p>
                </div>

                <div class="col col-sm-4 text-center">
                    <a href="javascript:void(0);" class="button-game" selection="scissors" title="Scissors">
                        <img src="/images/button-scissors.png" />
                    </a>

                    <p>SCISSORS</p>
                </div>
            </div>

            <div class="col col-sm-12 text-center">
                <hr/>

                <button type="button" class="btn btn-default button-finish">Finish</button>
            </div>
        {{ else }}
            <div class="col col-sm-12 text-center">
                <p>{{> spinner}}</p>

                <p style="padding-top: 110px;">Waiting for another player to join...</p>

                <p>Share this URL: {{ currentUrl }}</p>
            </div>
        {{/ if }}

    {{/ if }}

    {{#if showGameOverlay }}
        <div id="game-overlay">
            {{ getIntervalText }}
        </div>
    {{/ if }}

</template>