<template name="commonHeader">

    <div class="navbar navbar-default">
        <div class="device-big">
            <div class="col col-sm-4 text-left">
                <a href="#" class="menu transition transition-grow link-game-info" title="Show Menu">
                    <span class="menu-icon glyphicon glyphicon-info-sign"></span>

                    <span class="menu-text">Info</span>
                </a>
            </div>

            <div class="col col-sm-4 text-center">
                <a href="{{pathFor route='home'}}" title="Rock &bull; Paper &bull; Scissors">
                    <img src="/images/logo.small.png" alt="Rock &bull; Paper &bull; Scissors" class="transition transition-grow"/>
                </a>
            </div>
        </div>

        <div class="device-small">
            <div class="col col-xs-12 text-center">
                <a href="{{pathFor route='home'}}" title="Rock &bull; Paper &bull; Scissors">
                    <img src="/images/logo.small.png" alt="Rock &bull; Paper &bull; Scissors" class="transition transition-grow"/>
                </a>
            </div>

            <div class="col col-xs-6 text-left">
                <a href="#" class="menu transition transition-grow link-game-info" title="Show Menu">
                    <span class="menu-icon glyphicon glyphicon-info-sign"></span>

                    <span class="menu-text">Info</span>
                </a>
            </div>
        </div>

        <div class="col col-xs-6 col-sm-4 text-right">{{> loginButtons }}</div>
    </div>

    <div class="overlay display-none" id="game-info">
        <p class="text-center"><img src="/images/graphic.png" alt="Who kills who!?" title="Who kills who!?"/></p>
        <p class="text-center font-0-7em">Who kills who!?</p>
        <p class="text-center line-height-12"><button type="button" class="btn btn-success button-game-info">Okay, Got it!</button></p>
        <hr/>
        <p class="text-center links line-height-12">
            <a href="http://atulmy.com" target="_blank" title="Rock &bull; Paper &bull; Scissors Game by Atul Yadav"> &copy; atulmy.com</a> <span>&bull;</span>
            <span>Made with</span> <a href="http://www.meteor.com/" target="_blank" title="Meteor: The JavaScript App Platform">Meteor</a>
            <span>and</span> <a href="http://getbootstrap.com/" target="_blank" title="The most popular HTML, CSS, and JS framework">Bootstrap</a> <span>&bull;</span>
            <a href="https://github.com/atulmy/rps" target="_blank" title="View source code on GitHub. It is open source.">Source code on GitHub</a>
        </p>
    </div>

</template>